
$warning: #F49000;
$white: #fff;
$black-lighter: #252B42;
$green-lighter: #5FC43A;
$green-highter: #67CE5D;
$gray-highter: #4F4F4F;
$yellow: #F6B70F;
$gray: #EEF1F7;
$gray-lighter: #D3DCE6;

$green-blur: #EDFAEE;
$red-blur: #FFF0EE;
$orange-blur: #FEF8E7;

$green-light: #5BCE71;
$red-light: #FF6551;
$green-normal: #56C33F;

$green-dark: #4DB748;
$yellow-lighter: #FFFEEB;
$yellow-blur: #C4C4C4;
$green-darker: #36B566;
$pale-yellow: #E5E9F2;
$red-dark: #FF3217;
$yellow-dark: #FFBA29;
$orange-lighter: #E28500;
$black-gray: #8492A6;

$brown: #E7A56E;
