#dashboard-modal {
	 overflow-y: auto;
	 padding-left: 15px;
	 padding-right: 15px;
	 background-color: rgba(0, 0, 0, 0.4);
}
 #dashboard-modal.show {
	 display: block;
}
 #dashboard-modal .modal-dialog {
	 max-width: 700px;
}
 #dashboard-modal .modal-dialog .modal-content {
	 background-color: #fffeeb;
}
 #dashboard-modal .modal-dialog .modal-content .modal-body {
	 padding: 26px;
}
 #dashboard-modal .modal-dialog .modal-content .modal-body .title1 {
	 font-style: normal;
	 color: #252b42;
	 font-weight: bold;
	 font-size: 16px;
	 line-height: 24px;
	 margin-bottom: 12px;
}
 #dashboard-modal .modal-dialog .modal-content .modal-body .list1 {
	 padding-left: 16px;
}
 #dashboard-modal .modal-dialog .modal-content .modal-body .title2 {
	 font-style: normal;
	 font-weight: bold;
	 margin-bottom: 16px;
	 color: #f49000;
	 font-size: 24px;
	 line-height: 29px;
}
 #dashboard-modal .modal-dialog .modal-content .modal-body .text1 {
	 font-style: normal;
	 font-weight: normal;
	 font-size: 16px;
	 line-height: 24px;
	 color: #252b42;
}
 #dashboard-modal .modal-dialog .modal-content .modal-body .text2 {
	 font-style: normal;
	 font-weight: bold;
	 color: #ff6551;
	 font-size: 16px;
	 line-height: 24px;
}
 #dashboard-modal .modal-dialog .modal-content .modal-body .text3 {
	 font-style: normal;
	 font-weight: bold;
	 color: #ff6551;
	 font-size: 16px;
	 line-height: 24px;
}
 #dashboard-modal .modal-dialog .modal-content .modal-footer {
	 padding: 26px;
}
 #dashboard-modal .modal-dialog .modal-content .modal-footer .btn-buy-now {
	 background: #f6b70f;
	 border-radius: 12px;
	 padding: 17px 15px;
	 font-weight: bold;
	 text-decoration: none;
	 min-width: 156px;
	 font-size: 20px;
	 text-align: center;
	 color: #fff;
}
 #dashboard-modal .modal-dialog .modal-content .modal-footer .btn-buy-now:hover, #dashboard-modal .modal-dialog .modal-content .modal-footer .btn-buy-now:focus {
	 opacity: 0.8;
}
 #dashboard-modal .modal-dialog .modal-content .modal-footer .btn-dashboard-close {
	 color: #fff;
	 background: #ff6551;
	 border-radius: 12px;
	 padding: 17px 15px;
	 font-weight: bold;
	 text-decoration: none;
	 min-width: 156px;
	 font-size: 20px;
	 text-align: center;
}
 #dashboard-modal .modal-dialog .modal-content .modal-footer .btn-dashboard-close:hover, #dashboard-modal .modal-dialog .modal-content .modal-footer .btn-dashboard-close:focus {
	 opacity: 0.8;
}
 .section-dashboard {
	 min-height: 100vh;
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center;
	 min-height: 1024px;
	 padding: 87px 15px 40px;
}
 .section-dashboard.section-media-query {
	 min-height: 100vh;
}
 @media (min-width: 1024px) and (max-width: 1400px) {
	 .section-dashboard.section-media-query {
		 padding-top: 50px;
	}
	 .section-dashboard.section-media-query .dashboard-content {
		 margin-bottom: 50px;
	}
	 .section-dashboard.section-media-query .dashboard-content .dashboard-info {
		 padding: 15px;
	}
	 .section-dashboard.section-media-query .dashboard-content .dashboard-student-code {
		 line-height: unset;
		 font-size: 40px;
	}
	 .section-dashboard.section-media-query .dashboard-content .dashboard-student-grade {
		 line-height: unset;
		 font-size: 40px;
	}
	 .section-dashboard.section-media-query .dashboard-content .dashboard-avatar .star-wrapper .btn-star-package .dashboard-content-star {
		 width: 90px;
	}
	 .section-dashboard.section-media-query .dashboard-content .dashboard-avatar .avatar-wrapper .dashboard-content-avatar {
		 width: 90px;
	}
	 .section-dashboard.section-media-query .dashboard-boxes {
		 justify-content: space-between;
	}
	 .section-dashboard.section-media-query .dashboard-boxes .dashboard-card {
		 padding: 20px;
		 width: 25%;
	}
	 .section-dashboard.section-media-query .dashboard-boxes .dashboard-card:not(:last-child) {
		 margin-right: 80px;
	}
	 .section-dashboard.section-media-query .dashboard-boxes .dashboard-card .card-icon {
		 margin-bottom: 18px;
	}
	 .section-dashboard.section-media-query .dashboard-boxes .dashboard-card .card-icon img {
		 width: 200px;
	}
}
 .section-dashboard .dashboard-bg {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
	 z-index: -2;
}
 .section-dashboard .dashboard-content {
	 position: relative;
	 display: flex;
	 margin-left: auto;
	 margin-right: auto;
	 margin-bottom: 78px;
	 max-width: 1258px;
	 justify-content: space-between;
}
 .section-dashboard .dashboard-content .dashboard-info {
	 background: linear-gradient(180deg, #5bce71 0%, #3fc646 83.85%);
	 border-radius: 16px;
	 display: flex;
	 padding: 33px 40px;
	 width: 66.77%;
}
 .section-dashboard .dashboard-content .dashboard-avatar {
	 justify-content: space-between;
	 display: flex;
	 align-items: center;
}
 .section-dashboard .dashboard-content .avatar-wrapper {
	 margin-left: 44px;
	 position: relative;
}
 .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup {
	 background-color: #fffeeb;
	 border-radius: 16px;
	 padding: 30px;
	 display: none;
	 position: absolute;
	 z-index: 1;
	 right: 0;
	 top: calc(100% + 21px);
}
 .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup::after {
	 content: "";
	 position: absolute;
	 top: -35px;
	 right: 35px;
	 border-width: 20px;
	 border-style: solid;
	 border-color: transparent transparent #fffeeb transparent;
}
 .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup .logout-info {
	 padding-top: 34px;
}
 .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup .logout-info .btn-logout {
	 text-decoration: none;
	 display: flex;
	 align-items: center;
	 font-style: normal;
	 font-weight: bold;
	 font-size: 20px;
	 line-height: 24px;
	 text-align: center;
	 color: #252b42;
	 width: fit-content;
}
 .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup .user-info {
	 padding-bottom: 35px;
	 border-bottom: 1px solid #d3dce6;
}
 .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup .user-info .popup-wrapper-icon {
	 display: flex;
}
 .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup .user-info .popup-wrapper-icon img {
	 margin-right: 24px;
}
 .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup .user-info .popup-wrapper-icon .popup-info .popup-mhs {
	 font-style: normal;
	 font-weight: normal;
	 font-size: 24px;
	 line-height: 32px;
	 color: #252b42;
	 margin-bottom: 9px;
}
 .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup .user-info .popup-wrapper-icon .popup-info .btn-wrapper .btn--warning {
	 background: #f6b70f;
	 border-radius: 12px;
	 font-style: normal;
	 font-weight: bold;
	 font-size: 20px;
	 line-height: 24px;
	 text-align: center;
	 color: #fff;
	 box-shadow: 0 15.5126px 22.6723px rgba(0, 0, 0, 0.07);
	 padding: 17px;
	 white-space: nowrap;
	 text-decoration: none;
	 display: inline-block;
	 box-shadow: 0 4px 0 0 #f49000;
}
 .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup .user-info .popup-wrapper-icon .popup-info .btn-wrapper .btn--warning:hover, .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup .user-info .popup-wrapper-icon .popup-info .btn-wrapper .btn--warning:focus {
	 opacity: 0.8;
}
 .section-dashboard .dashboard-content .dashboard-student-code {
	 font-style: normal;
	 font-weight: normal;
	 color: #fff;
	 font-size: 50px;
	 line-height: 61px;
	 width: 57.7%;
	 border-right: 1px solid #d3dce6;
}
 .section-dashboard .dashboard-content .dashboard-student-grade {
	 width: 42.3%;
	 display: flex;
	 padding-left: 58px;
	 justify-content: space-between;
	 font-style: normal;
	 font-weight: normal;
	 font-size: 50px;
	 line-height: 61px;
	 color: #fff;
}
 .section-dashboard .dashboard-content .dashboard-student-grade .item-switch-grade .item-tag:hover, .section-dashboard .dashboard-content .dashboard-student-grade .item-switch-grade .item-tag:focus {
	 opacity: 0.8;
}
 .section-dashboard .dashboard-boxes {
	 max-width: 1258px;
	 margin-left: auto;
	 margin-right: auto;
	 position: relative;
	 display: flex;
	 justify-content: center;
	 margin-bottom: 80px;
}
 .section-dashboard .dashboard-boxes .dashboard-card {
	 min-width: 350px;
	 padding: 50px 50px 30px;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 border-radius: 54px;
	 width: calc(33.33% - 81.33px);
	 background-color: #fff;
	 position: relative;
}
 .section-dashboard .dashboard-boxes .dashboard-card:not(:last-child) {
	 margin-right: 122px;
}
 .section-dashboard .dashboard-boxes .dashboard-card:hover {
	 position: relative;
	 transition: top 2s ease 0s;
	 top: -20px;
}
 .section-dashboard .dashboard-boxes .dashboard-card .card-icon {
	 margin-bottom: 24px;
}
 .section-dashboard .dashboard-boxes .dashboard-card .card-name {
	 font-style: normal;
	 font-weight: bold;
	 font-size: 24px;
	 line-height: 32px;
	 color: #252b42;
	 margin-bottom: 8px;
}
 .section-dashboard .dashboard-boxes .dashboard-card .card-text {
	 font-style: normal;
	 font-weight: normal;
	 font-size: 16px;
	 line-height: 24px;
	 text-align: center;
	 color: #4f4f4f;
}
 .section-dashboard .dashboard-boxes .dashboard-card .card-after {
	 border-radius: 50%;
	 background-color: #4db748;
	 width: 100%;
	 position: absolute;
	 bottom: -17px;
	 height: 35px;
	 z-index: -1;
	 left: 0;
}
 .section-dashboard .dashboard-download .download-title {
	 font-style: normal;
	 font-weight: bold;
	 font-size: 16px;
	 letter-spacing: 0.1px;
	 text-align: center;
	 margin-bottom: 16px;
}
 .section-dashboard .dashboard-download .download-buttons .download-card {
	 display: flex;
	 justify-content: center;
}
 .section-dashboard .dashboard-download .download-buttons .download-card .download-item.first {
	 margin-right: 22px;
}
 .section-dashboard .dashboard-download .social-card {
	 bottom: -11px;
	 right: 60px;
	 position: absolute;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
}
 .section-dashboard .dashboard-download .social-card .social-contact {
	 color: #fff;
	 display: inline-block;
	 font-style: normal;
	 font-weight: normal;
	 font-size: 16px;
	 line-height: 18px;
	 letter-spacing: 0.1px;
	 padding: 10px 12px;
	 background-color: #f6b70f;
	 border-radius: 16px;
	 margin-bottom: 15px;
}
 .section-dashboard .dashboard-download .social-card .social-contact .contact-number {
	 font-weight: bold;
	 text-decoration: none;
	 color: #fff;
	 font-size: 16px;
	 line-height: 18px;
	 letter-spacing: 0.1px;
}
 .section-dashboard .dashboard-download .social-card .social-network {
	 display: flex;
	 justify-content: center;
}
 .section-dashboard .dashboard-download .social-card .social-network .social-item:hover, .section-dashboard .dashboard-download .social-card .social-network .social-item:focus {
	 opacity: 0.8;
}
 @media (max-width: 1300px) {
	 .section-dashboard .dashboard-boxes .dashboard-card {
		 width: calc(33.33% - 40px);
	}
	 .section-dashboard .dashboard-boxes .dashboard-card:not(:last-child) {
		 margin-right: 60px;
	}
}
 @media (max-width: 1249px) {
	 .section-dashboard .dashboard-download {
		 display: flex;
		 justify-content: center;
		 align-items: center;
	}
	 .section-dashboard .dashboard-download .social-card {
		 position: unset;
		 margin-left: 30px;
	}
}
 @media (max-width: 1023px) {
	 .section-dashboard .dashboard-boxes .dashboard-card {
		 width: calc(33.33% - 28px);
	}
	 .section-dashboard .dashboard-boxes .dashboard-card:not(:last-child) {
		 margin-right: 42px;
	}
}
 @media (max-width: 991px) {
	 .section-dashboard .dashboard-boxes .dashboard-card {
		 padding: 50px 20px;
		 width: calc(33.33% - 20px);
	}
	 .section-dashboard .dashboard-boxes .dashboard-card:not(:last-child) {
		 margin-right: 30px;
	}
	 .section-dashboard .dashboard-boxes .dashboard-card .card-icon {
		 display: flex;
		 justify-content: center;
	}
	 .section-dashboard .dashboard-boxes .dashboard-card .card-icon img {
		 width: 80%;
	}
	 .section-dashboard .dashboard-boxes .dashboard-card .card-after {
		 display: none;
	}
}
 @media (max-width: 767px) {
	 .section-dashboard .dashboard-boxes {
		 flex-wrap: wrap;
		 margin-bottom: 40px;
	}
	 .section-dashboard .dashboard-boxes .dashboard-card {
		 width: calc(50% - 20px);
		 margin-bottom: 30px;
	}
	 .section-dashboard .dashboard-boxes .dashboard-card:not(:last-child) {
		 margin-right: 0;
	}
	 .section-dashboard .dashboard-boxes .dashboard-card .card-icon img {
		 width: 50%;
	}
	 .section-dashboard .dashboard-download {
		 flex-direction: column;
	}
	 .section-dashboard .dashboard-download .social-card {
		 margin-left: 0;
		 margin-top: 40px;
	}
	 .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup {
		 right: calc(50% - 95px);
	}
	 .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup:after {
		 right: 75px;
	}
	 .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup .user-info .popup-wrapper-icon img {
		 width: 90px;
		 height: 90px;
	}
	 .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup .user-info .popup-wrapper-icon .popup-info .popup-mhs {
		 font-size: 18px;
		 line-height: unset;
	}
	 .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup .user-info .popup-wrapper-icon .popup-info .btn-wrapper .btn--warning {
		 padding: 12px;
		 font-size: 18px;
		 line-height: unset;
	}
	 #dashboard-modal .modal-dialog .modal-content .modal-footer .btn-buy-now, #dashboard-modal .modal-dialog .modal-content .modal-footer .btn-dashboard-close {
		 padding: 12px;
		 font-size: 18px;
		 max-width: 140px;
	}
}
 @media (max-width: 575px) {
	 .section-dashboard .dashboard-content {
		 margin-bottom: 50px;
	}
	 .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup {
		 width: 290px;
		 right: calc(50% - 87px);
	}
	 .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup:after {
		 right: 63px;
	}
	 .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup .user-info {
		 padding-bottom: 25px;
	}
	 .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup .user-info .popup-wrapper-icon {
		 flex-direction: column;
		 align-items: center;
	}
	 .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup .user-info .popup-wrapper-icon img {
		 margin-right: 0;
		 margin-bottom: 10px;
	}
	 .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup .user-info .popup-wrapper-icon .popup-info .popup-mhs {
		 text-align: center;
	}
	 .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup .logout-info {
		 padding-top: 25px;
	}
	 .section-dashboard .dashboard-content .avatar-wrapper .avatar-popup .logout-info .btn-logout {
		 justify-content: center;
	}
	 .section-dashboard .dashboard-boxes .dashboard-card {
		 width: 100%;
		 margin-right: 0 !important;
		 max-width: 350px;
	}
}
 @media (max-width: 420px) {
	 .section-dashboard .dashboard-boxes {
		 margin-bottom: 20px;
	}
	 .section-dashboard .dashboard-boxes .dashboard-card {
		 min-width: unset;
	}
	 .section-dashboard .dashboard-download .download-buttons .download-card {
		 flex-direction: column;
		 align-items: center;
	}
	 .section-dashboard .dashboard-download .download-buttons .download-card .download-item.first {
		 margin-right: 0;
		 margin-bottom: 15px;
	}
	 .section-dashboard .dashboard-download .social-card {
		 margin-top: 25px;
	}
	 .section-dashboard .dashboard-download .social-card .social-network {
		 flex-wrap: wrap;
	}
	 .section-dashboard .dashboard-download .social-card .social-contact {
		 margin-bottom: 5px;
	}
}
 @media (max-width: 1249px) {
	 .section-dashboard .dashboard-content .dashboard-student-code {
		 font-size: 36px;
		 line-height: unset;
		 width: 52%;
	}
	 .section-dashboard .dashboard-content .dashboard-student-grade {
		 font-size: 36px;
		 line-height: unset;
		 width: 48%;
	}
}
 @media (max-width: 1249px) {
	 .section-dashboard .dashboard-content {
		 flex-wrap: wrap-reverse;
		 justify-content: center;
	}
	 .section-dashboard .dashboard-content .dashboard-avatar {
		 margin-bottom: 30px;
	}
	 .section-dashboard .dashboard-content .dashboard-avatar .avatar-wrapper {
		 margin-left: 25px;
	}
	 .section-dashboard .dashboard-content .dashboard-info {
		 width: 100%;
	}
}
 @media (max-width: 767px) {
	 .section-dashboard .dashboard-content .dashboard-student-code {
		 font-size: 28px;
	}
	 .section-dashboard .dashboard-content .dashboard-student-grade {
		 font-size: 28px;
	}
}
 @media (max-width: 575px) {
	 .section-dashboard .dashboard-content .dashboard-info {
		 display: block;
		 max-width: 350px;
	}
	 .section-dashboard .dashboard-content .dashboard-info .dashboard-student-code {
		 border-right: none;
		 display: flex;
		 width: 100%;
	}
	 .section-dashboard .dashboard-content .dashboard-info .dashboard-student-grade {
		 padding-left: 0;
		 width: 100%;
		 justify-content: flex-start;
	}
	 .section-dashboard .dashboard-content .dashboard-info .dashboard-student-grade .item-grade {
		 margin-right: 25px;
	}
	 .section-dashboard .dashboard-content .dashboard-avatar {
		 width: 100%;
		 justify-content: center;
	}
	 .section-dashboard .dashboard-content .dashboard-avatar .star-wrapper img {
		 width: 80%;
	}
	 .section-dashboard .dashboard-content .dashboard-avatar .avatar-wrapper {
		 margin-left: 0;
	}
	 .section-dashboard .dashboard-content .dashboard-avatar .avatar-wrapper .dashboard-content-avatar {
		 width: 92.8px;
	}
}
 @media (min-width: 1024px) and (max-width: 1400px) {
	 .bg__exercise--one {
		 min-height: 100vh !important;
	}
	 .section-exercise-type, .section-exercise-type22, .section-exercise-type23 {
		 min-height: 100vh !important;
	}
	 .section-exercise-type .board-question-content.custom-media-query, .section-exercise-type22 .board-question-content.custom-media-query, .section-exercise-type23 .board-question-content.custom-media-query {
		 padding-top: 60px;
		 margin-bottom: 40px;
	}
	 .section-exercise-type .board-question-content.custom-media-query .question-boxes.custom, .section-exercise-type22 .board-question-content.custom-media-query .question-boxes.custom, .section-exercise-type23 .board-question-content.custom-media-query .question-boxes.custom {
		 margin-bottom: 50px;
	}
	 .section-exercise-type .board-question-content.custom-media-query .question-boxes .answer-card, .section-exercise-type22 .board-question-content.custom-media-query .question-boxes .answer-card, .section-exercise-type23 .board-question-content.custom-media-query .question-boxes .answer-card, .section-exercise-type .board-question-content.custom-media-query .question-boxes .question-card, .section-exercise-type22 .board-question-content.custom-media-query .question-boxes .question-card, .section-exercise-type23 .board-question-content.custom-media-query .question-boxes .question-card {
		 margin-bottom: 60px;
	}
	 .section-exercise-type21 .board-question-content.custom-media-query .question-boxes, .section-exercise-type214 .board-question-content.custom-media-query .question-boxes, .section-exercise-type213 .board-question-content.custom-media-query .question-boxes, .section-exercise-type215 .board-question-content.custom-media-query .question-boxes {
		 margin-bottom: 50px;
	}
}
 