.wp__exercise .wp_bg--exercise {
	 min-height: 100vh;
	 background-size: cover !important;
}
 .wp__exercise .wp_bg--exercise .wp_content--exercise {
	 max-width: 1260px;
	 margin: 0px auto;
	 padding: 0px 15px;
}
 .wp__exercise .wp_bg--exercise .wp_content--exercise .button__header--exercise {
	 padding-top: 63px;
	 margin-bottom: 85px;
}
 .wp__exercise .wp_bg--exercise .wp_content--exercise .button__header--exercise .button_redirect--exercise {
	 border: none;
	 font-size: 18px;
	 font-style: normal;
	 font-weight: 700;
	 line-height: 18px;
	 color: #8492a6;
	 text-transform: uppercase;
	 min-width: 248px;
	 margin-right: 20px;
	 border-radius: 16px;
}
 .wp__exercise .wp_bg--exercise .wp_content--exercise .button__header--exercise .active__button_redirect--exercise {
	 background: linear-gradient(180deg, #5bce71 0%, #3fc646 83.85%);
	 color: white;
}
 .wp__exercise .wp_bg--exercise .wp_content--exercise .content--exercise-collapse .card__exercise {
	 margin-bottom: 20px;
}
 .wp__exercise .wp_bg--exercise .wp_content--exercise .content--exercise-collapse .card__exercise-header {
	 background: #f6b70f;
	 border-radius: 4px 4px 0px 0px;
	 color: white;
	 padding: 13px 20px;
	 cursor: pointer;
}
 .wp__exercise .wp_bg--exercise .wp_content--exercise .content--exercise-collapse .card__exercise-header .text__card__exercise {
	 font-size: 16px;
	 font-weight: 700;
	 line-height: 18px;
}
 .wp__exercise .wp_bg--exercise .wp_content--exercise .content--exercise-collapse .card-body-exercise {
	 background: #fffeeb;
	 border-radius: 4px 4px 0px 0px;
	 padding: 30px 20px;
}
 .wp__exercise .wp_bg--exercise .wp_content--exercise .content--exercise-collapse .card-body-exercise .list__body--exercise {
	 list-style: none;
	 padding-left: 0px;
	 margin-bottom: 0px;
}
 .wp__exercise .wp_bg--exercise .wp_content--exercise .content--exercise-collapse .card-body-exercise .list__body--exercise .item_body--exercise {
	 margin-right: 40px;
	 cursor: pointer;
}
 .wp__exercise .wp_bg--exercise .wp_content--exercise .content--exercise-collapse .card-body-exercise .list__body--exercise .item_body--exercise .title__body--exercise {
	 font-size: 16px;
	 font-weight: 600;
	 line-height: 24px;
	 text-align: center;
	 margin-top: 12px;
}
 .wp__exercise .wp_bg--exercise .wp_content--exercise .content--exercise-collapse .card-body-exercise2 {
	 padding: 125px 0px;
}
 .wp__exercise .wp_bg--exercise .wp_content--exercise .content--exercise-collapse .transform_rotate {
	 transform: rotate(178deg);
}
 .wp__exercise .title__header-match {
	 display: inline-block;
	 padding-top: 30px;
	 padding-bottom: 24px;
}
 .wp__exercise .title__header-match .back_top--match {
	 position: absolute;
	 top: 35%;
}
 .wp__exercise .title__header-match .dotnet__title--header {
	 border: 4px dashed #36b566;
	 border-radius: 24px;
}
 .wp__exercise .title__header-match .dotnet__title--header .child__dotnet--title {
	 font-size: 40px;
	 font-style: normal;
	 font-weight: 700;
	 line-height: 49px;
	 color: #fff;
	 padding: 25px 70px;
	 background-color: #36b566;
	 border-radius: 20px;
	 margin: 3px;
}
 .wp__exercise .content--exercise-match .content__dotnet--match {
	 display: inline-block;
	 position: absolute;
	 z-index: 2;
	 right: 4%;
	 top: -9%;
}
 .wp__exercise .content--exercise-match .content__dotnet--match .dotnet__content--math {
	 border: 4px dashed #ff6551;
	 border-radius: 24px;
}
 .wp__exercise .content--exercise-match .content__dotnet--match .dotnet__content--math .child__dotnet--content--match {
	 font-size: 40px;
	 font-style: normal;
	 font-weight: 700;
	 line-height: 49px;
	 padding: 22px 65px;
	 background: #ff6551;
	 color: #fff;
	 border-radius: 19px;
	 margin: 3px;
}
 .wp__exercise .card-body-exercise3 {
	 padding: 137px 0px !important;
}
 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 {
	 padding: 0px 15px;
}
 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .link__network--math {
	 margin-bottom: 45px;
}
 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .link__network--math .link__1 {
	 margin-right: 24px;
}
 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .wp__content--body .title__content--body--math {
	 font-size: 36px;
	 font-style: normal;
	 font-weight: 700;
	 line-height: 44px;
	 color: #252b42;
	 margin-bottom: 40px;
	 text-align: center;
}
 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .wp__content--body .time__content--body--math {
	 font-size: 28px;
	 font-style: normal;
	 font-weight: 700;
	 line-height: 34px;
	 color: #252b42;
	 text-align: center;
}
 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .wp__content--body .text__content--body--math {
	 text-align: center;
	 font-size: 24px;
	 font-style: normal;
	 font-weight: 400;
	 line-height: 29px;
	 margin-top: 40px;
	 padding: 0px 20px;
}
 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .wp__button-math {
	 margin-top: 81px;
}
 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .wp__button-math .button-math__detail {
	 border: none;
	 padding: 15px 39px;
	 border-radius: 12px;
	 font-size: 20px;
	 font-style: normal;
	 font-weight: 700;
	 line-height: 24px;
	 color: white;
	 margin-right: 28px;
	 cursor: pointer;
}
 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .wp__button-math .button-math__bg1 {
	 background: linear-gradient(90.16deg, #8ee048 19.02%, #66ce5c 87.44%);
}
 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .wp__button-math .button-math__bg2 {
	 background: #f6b70f;
}
 .modal-header__math {
	 background: #ff6551;
	 padding: 12px 20px;
}
 .modal-header__math .modal--title_math {
	 font-size: 16px;
	 font-style: normal;
	 font-weight: 700;
	 line-height: 24px;
	 color: #fff;
}
 .modal-header__math .close__header--math {
	 border: none;
	 color: white;
	 background: #ff6551;
}
 .modal-body--math {
	 font-size: 20px;
	 font-weight: 700;
	 line-height: 24px;
	 padding: 34px 85px;
	 text-align: center;
}
 .modal-footer--math {
	 justify-content: center;
}
 .modal-footer--math .button-math--footer {
	 border: none;
	 font-size: 20px;
	 font-style: normal;
	 font-weight: 700;
	 line-height: 24px;
	 padding: 15px 31px;
	 border-radius: 12px;
	 margin-right: 25px;
	 color: white;
	 margin-bottom: 20px;
}
 .bg-math--footer1 {
	 background: linear-gradient(90.16deg, #8ee048 19.02%, #66ce5c 87.44%);
	 border-bottom: 4px solid #56c33f !important;
}
 .bg-math--footer2 {
	 background: #ff6551;
	 border-bottom: 4px solid #ff3217 !important;
}
 .bg-math--footer3 {
	 border-bottom: 4px solid #f49000 !important;
}
 .content--exercise-collapse .card__exercise-done {
	 background: linear-gradient(180deg, #5bce71 0%, #3fc646 83.85%) !important;
}
 .content--exercise-collapse ul.list__body--exercise--none {
	 margin-bottom: 0px;
	 flex-wrap: wrap;
}
 .content--exercise-collapse ul.list__body--exercise--none li.highest-core-done {
	 list-style: none;
	 margin-top: 18px;
	 margin-right: 49px;
	 cursor: pointer;
}
 .content--exercise-collapse ul.list__body--exercise--none li.highest-core-done .item_highest-core-done {
	 list-style: none;
	 padding: 9px;
	 transform: rotate(45deg);
	 border-radius: 7px;
}
 .content--exercise-collapse ul.list__body--exercise--none li.highest-core-done .item_highest-core-done .score-item-done {
	 width: 73px;
	 border: 1px solid white;
	 padding: 23px 0px;
	 text-align: center;
	 border-radius: 50%;
	 background: white;
	 transform: rotate(-44deg);
	 font-size: 20px;
	 font-style: normal;
	 font-weight: 700;
	 line-height: 24px;
}
 .content--exercise-collapse ul.list__body--exercise--none li.highest-core-done .title__score-item-done {
	 font-size: 16px;
	 font-style: normal;
	 font-weight: 600;
	 line-height: 24px;
	 text-align: center;
	 margin-top: 22px;
}
 .content--exercise-collapse .color__done--rotate_1 {
	 color: #0075ff;
}
 .content--exercise-collapse .bg__done--rotate_1 {
	 background: #0075ff;
}
 .content--exercise-collapse .bg__done--rotate_2 {
	 background: #f92d2d;
}
 .content--exercise-collapse .bg__done--rotate_3 {
	 background: #ffb800;
}
 .content--exercise-collapse .bg__done--rotate_4 {
	 background: #6bd068;
}
 .content--exercise-collapse .bg__done--rotate_5 {
	 background: #9b51e0;
}
 @media (min-width: 576px) {
	 .modal-dialog {
		 max-width: 770px;
		 margin: 1.75rem auto;
	}
}
 @media screen and (max-width: 896px) {
	 .wp_button__exercise {
		 margin-top: 20px;
		 display: flex;
		 justify-content: center;
		 flex-wrap: wrap;
	}
	 .wp__exercise .wp_bg--exercise .wp_content--exercise .content--exercise-collapse .card-body-exercise .list__body--exercise .item_body--exercise {
		 margin: 0px 15px 15px 15px;
	}
}
 @media screen and (max-width: 887px) {
	 .wp_button__exercise {
		 margin-top: 20px;
		 display: flex;
		 justify-content: space-around;
		 flex-wrap: wrap;
	}
	 .wp__exercise .wp_bg--exercise .wp_content--exercise .button__header--exercise {
		 margin-bottom: 20px;
	}
	 .wp__exercise .wp_bg--exercise .wp_content--exercise .button__header--exercise .button_redirect--exercise {
		 margin-bottom: 15px;
	}
	 .wp__exercise .wp_bg--exercise .wp_content--exercise .button__header--exercise .button_redirect--exercise:last-child {
		 margin-right: 0px;
	}
}
 @media screen and (max-width: 809px) {
	 .wp_bg--exercise--cover {
		 background-size: cover !important;
		 height: 100% !important;
	}
	 .wp__exercise .wp_bg--exercise .wp_content--exercise .content--exercise-collapse .card__exercise {
		 margin-bottom: 0px;
	}
	 .wp__exercise .wp_bg--exercise .wp_content--exercise {
		 padding: 15px 15px;
	}
}
 @media screen and (max-width: 545px) {
	 .wp__exercise .wp_bg--exercise .wp_content--exercise .button__header--exercise .button_redirect--exercise {
		 margin-right: 0px;
	}
}
 @media screen and (max-width: 555px) {
	 ul.list__body--exercise {
		 justify-content: center;
	}
}
 @media (max-width: 1149px) {
	 .wp__exercise .title__header-match .dotnet__title--header .child__dotnet--title {
		 font-size: 36px;
		 padding: 20px 63px;
	}
	 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .link__network--math .link__1 {
		 margin: 0px 13px;
	}
}
 @media (max-width: 991px) {
	 .wp__exercise .title__header-match .dotnet__title--header .child__dotnet--title {
		 font-size: 32px;
		 padding: 15px 54px;
	}
	 .wp__exercise .content--exercise-match .content__dotnet--match .dotnet__content--math .child__dotnet--content--match {
		 font-size: 32px;
		 padding: 12px 57px;
	}
	 .wp__exercise .content--exercise-match .content__dotnet--match {
		 display: inline-block;
		 position: absolute;
		 z-index: 2;
		 right: 2%;
		 top: -6%;
	}
}
 @media (max-width: 768px) {
	 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .wp__content--body .title__content--body--math {
		 font-size: 32px;
		 margin-bottom: 30px;
	}
	 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .wp__content--body .time__content--body--math {
		 font-size: 25px;
	}
	 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .wp__content--body .text__content--body--math {
		 font-size: 22px;
		 margin-bottom: 30px;
	}
	 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .wp__button-math {
		 margin-top: 65px;
	}
	 .wp__exercise .card-body-exercise3 {
		 padding: 100px 0px !important;
	}
}
 @media (max-width: 626px) {
	 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .wp__button-math .button-math__detail {
		 margin-bottom: 15px;
		 margin-right: 0px;
	}
}
 @media (max-width: 705px) {
	 .content--exercise-match {
		 margin-top: 6%;
	}
	 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .wp__content--body .title__content--body--math {
		 font-size: 27px;
		 margin-bottom: 25px;
	}
	 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .wp__content--body .time__content--body--math {
		 font-size: 23px;
	}
	 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .wp__content--body .text__content--body--math {
		 font-size: 19px;
		 margin-bottom: 25px;
	}
	 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .wp__button-math {
		 margin-top: 60px;
	}
}
 @media (max-width: 560px) {
	 .wp__exercise .title__header-match .dotnet__title--header .child__dotnet--title {
		 font-size: 27px;
		 padding: 15px 54px;
	}
	 .wp__exercise .content--exercise-match .content__dotnet--match .dotnet__content--math .child__dotnet--content--match {
		 font-size: 24px;
		 padding: 12px 57px;
	}
	 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .wp__content--body .title__content--body--math {
		 font-size: 23px;
		 margin-bottom: 15px;
	}
	 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .wp__content--body .time__content--body--math {
		 font-size: 20px;
	}
	 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .wp__content--body .text__content--body--math {
		 font-size: 16px;
		 margin-bottom: 20px;
		 margin-top: 28px;
	}
	 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .wp__button-math {
		 margin-top: 50px;
	}
	 .wp__exercise .card-body-exercise3 {
		 padding: 85px 0px !important;
	}
	 .wp__exercise .card-body-exercise3 .wp__math--body-exercise .wp__math--body-exercise--1 .wp__button-math .button-math__detail {
		 font-size: 16px;
	}
}
 @media (max-width: 430px) {
	 .wp__exercise .title__header-match .dotnet__title--header .child__dotnet--title {
		 font-size: 20px;
		 padding: 15px;
	}
	 .wp__exercise .content--exercise-match .content__dotnet--match .dotnet__content--math .child__dotnet--content--match {
		 font-size: 20px;
		 padding: 5px 49px;
	}
	 #accordion {
		 margin-top: 35px;
	}
	 .wp__exercise .title__header-match {
		 display: flex;
		 justify-content: flex-end;
	}
	 .wp__exercise .title__header-match .back_top--match {
		 left: 0%;
	}
	 .wp__exercise .title__header-match .dotnet__title--header .child__dotnet--title {
		 font-size: 18px;
		 padding: 11px;
	}
	 .wp__exercise .content--exercise-match .content__dotnet--match .dotnet__content--math .child__dotnet--content--match {
		 font-size: 18px;
		 padding: 5px 49px;
	}
}
 